<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dingtalk.mapper.ProductCategoryMapper">

    <resultMap id="productCategoryMap" type="com.dingtalk.model.ProductCategory">
        <result column="category_id" property="categoryId" />
        <result column="category_name" property="categoryName" />
        <result column="parent_id" property="parentId" />
    </resultMap>

    <select id="selectAll" resultMap="productCategoryMap">
        SELECT * FROM product_category
    </select>

    <select id="selectByNameAndParent" resultMap="productCategoryMap">
        SELECT * FROM product_category WHERE category_name = #{categoryName} and parent_id = #{parentId}
    </select>

    <select id="selectById" resultMap="productCategoryMap">
        SELECT * FROM product_category WHERE category_id = #{categoryId}
    </select>

    <select id="selectByIds" resultMap="productCategoryMap">
        SELECT * FROM product_category WHERE category_id in (#{categoryIds})
    </select>

    <select id="selectByParentId" resultMap="productCategoryMap">
        SELECT * FROM product_category WHERE parent_id = #{parentId}
    </select>

    <insert id="insertProductCategory" parameterType="com.dingtalk.model.ProductCategory">
        INSERT INTO product_category ( category_name, parent_id)
        VALUES (#{categoryName}, #{parentId})
    </insert>

    <update id="updateProductCategory" parameterType="com.dingtalk.model.ProductCategory">
        UPDATE product_category SET
        category_name = #{categoryName},
        parent_id = #{parentId}
        WHERE category_id = #{categoryId}
    </update>

    <delete id="deleteById">
        DELETE FROM product_category WHERE category_id = #{categoryId}
    </delete>



</mapper>
